.item {
  background: white;
  border-bottom: 1px solid grey;
  padding: 5px 20px 15px 20px;
  margin-bottom: 10px;
  position: relative;
}

.iten p {
  font-size: 14px;
}

.item button {
  background: black;
  border: 0;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 30px;
}
.item button:hover {
  background: red;
}
