.app {
  background: grey;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  width: 60%;
}

.fixed-header {
  position: fixed;
  width: 60%;
  z-index: 2;
}

.header {
  background-color: #242625;
  padding: 15px 30px;
}

.header h2 {
  color: white;
  padding: 0;
  margin: 0;
}

.list p {
  margin-bottom: 25px;
}
.list {
  background: #E3E0E0;
  padding: 30px;
  width: 100%;
  margin-top: 170px; 
}

@media screen and (max-width: 500px) {
  .app {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
  .fixed-header {
    width: 100%;
    z-index: 2;
  }
}

.placeholder {
  background: rgb(255,240,120);
}

.placeholder:before {
    content: "Drop here";
    color: rgb(225,210,90);
}

ul {
  list-style: none;
  margin:0;
  padding:0;
  border: 5px solid #e1e1e1;
  box-shadow: 1px 3px 8px #888; 
}
li {
  padding: 10px 15px;
  background:#eee;
}
li:hover {
    background: darken(#eee, 5%);
}
